<!-- BARRA DE NAVEGACION -->
<header class="header">
    <nav class="nav-container container-fluid row g-0 bg-dark" style="height: 80px;" id="nav-container">
      <div class="conf nav col-4 justify-content-center align-items-center">
        <iconify-icon icon="fluent-emoji-high-contrast:movie-camera" class="icono" ></iconify-icon>
        <p class="fs-3 text-light m-1">CAC-Movies</p>
      </div>            
      <ul class="main-menu nav col-7 align-items-center justify-content-end fs-5 me-1 " id="main-menu">
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Tendencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Registrarse</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary border-2 border-primary-subtle m-0 p-0 fs-5">
            <a class="nav-link text-light" href="/login">Iniciar sesion</a>
          </button>
        </li>
      </ul>
    </nav>
  </header>